.Img_logo{
    width: 100%;
}
.logos {
    width: 25px;
}
.div_presentacion{

    position: relative;
    align-items: center;
    justify-self: center;
}
body{
    margin: 0px;
}
.bienvenido{
    color: rgb(237, 229, 237);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px  3px rgb(0, 0, 0);
}
.padding{
    justify-items: center;
    padding: 10px;
    padding-top: 60px;
    
    height: 100vh;
}
.grilla-informacion{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 30px;
}
.element-grilla{
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(180, 135, 223);
    padding: 10px;
    justify-items: center;
}
.titulo-informacion{
    padding: 30px;
}
.titulo-element{
  font-family: "Emilys Candy", serif;
  font-size: 28px;
  font-style: normal;
}

input {
    display: block;
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}
label {
    display: block;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 16px;
}
textarea {
    display: block;
    width: 290px;
    min-height: 100px;
    max-height: fit-content;
    font-size: 15px;
}
.cont-redes{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 211, 248);
    width: 100%;
}
.redes{
    width: 50px;
    padding-bottom: 20px;

}
.check{
    position: relative;
    left: 80px;
    top: -36px;
    width: 30px;
}
