.Img_logo{
    width: 100%;
}
.logos {
    width: 25px;
}
.div_contacto{
    position: relative;
}
body{
    margin: 0px;
}
.bienvenido{
    position: absolute;
    color: rgb(243, 238, 231);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -5px 2px 2px black;
}
.padding{
    justify-items: center;
    padding: 10px;
    padding-top: 55px;
    background-color: rgb(231, 208, 252);
}
.grilla-informacion{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 30px;
}
.element-grilla{
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(180, 135, 223);
    padding: 10px;
    justify-items: center;
}
.titulo-informacion{
    padding: 30px;
}
.titulo-element{
  font-family: "Emilys Candy", serif;
  font-size: 28px;
  font-style: normal;

}